{erl_opts, [debug_info]}.

{deps, [
    {cowboy, "2.10.0"},
    {epgsql, "4.7.1"},
    {jsx, "3.1.0"},
    {poolboy, "1.5.2"}
]}.

% {shell, [
%   % {config, "config/sys.config"},
%   {apps, [ztp_api_erlang]}
% ]}.

{relx, [{release, {ztp_api_erlang, "0.1.0"},
         [ztp_api_erlang, sasl]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.